<section class="cta-section mw-720 m-auto p-basic">

	<h2 class="title">
		{{ site.cta_title }}
	</h2>
	<p class="paragraph big">
		{{ site.cta_text }}
	</p>

	<a href="mailto:{{site.mail}}" class="btn flat">{{site.mail}}</a>
	<br>
	<a href="tel:{{site.phone}}" class="btn flat">{{site.phone}}</a> <p class="paragraph light d-inline-block">({{site.location}})</p>

	<br>
	<br>
	<a href="mailto:{{site.mail}}" class="btn primary"> {{site.cta_btn_01}}</a>
	<a href="tel:{{site.phone}}" class="btn secondary make-a-call"> {{site.cta_btn_02}}</a>
</section>