.title
  font-size: 2rem
  font-family: $secondary-font
  font-weight: 500
  color: $black
  margin-top: 1rem
  margin-bottom: 1rem


.outline-title
  font-size: 2rem
  font-weight: 500
  color: $primary-color
  -webkit-text-fill-color: $white
  -webkit-text-stroke-width: 1px
  -webkit-text-stroke-color: $primary-color


.paragraph
  font-size: 1rem
  font-weight: 400
  &.dark
    color: $black
  &.big
    font-size: 1.2rem
    font-weight: 500
  &.light
    color: $dark-gray


.strong-small
  font-size: 1rem
  font-weight: 700
  color: $primary-color


.primary-font
  font-family: $primary-font!important
.secondary-font
  font-family: $secondary-font!important



.text-center
  text-align: center



$font_weights: (100, 200, 300, 400, 500, 600, 700, 800, 900)

@each $weight in $font_weights
  .font-weight-#{$weight}
    font-weight: #{$weight}