$primary-color: #4717f6   //#ff0844
$primary-color-06: rgba(0, 0, 170, 0.6)

$white: #ffffff
$black: #28292B
$dark-gray: rgba(0,0,0,.6) //#COC2CE // #C5BEAA

$secondary-color: #2D1FE8


$primary-font: "Roboto", "Zilla Slab"
$secondary-font: "Zilla Slab", "Roboto"



$medium_bp: 768px
$small_bp: 480px