<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700,900|Zilla+Slab:400,500,700&amp;subset=latin-ext" rel="stylesheet">

<link rel="stylesheet" href="{{site.baseurl}}/assets/style/preloader.css">
<link rel="stylesheet" href="{{site.baseurl}}/assets/style/common.css">
<link rel="stylesheet" href="{{site.baseurl}}/assets/style/pages.css">
<link rel="icon" href="/assets/img/favico.png">

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-96353425-4"></script>
<script>
	window.dataLayer = window.dataLayer || [];
	function gtag(){dataLayer.push(arguments);}
	gtag('js', new Date());

	gtag('config', 'UA-96353425-4');
</script>
