<section class="mw-720 awards-section p-basic m-auto">
	<h2 class="title">
		Awards
	</h2>
	<p class="paragraph big mb-3">
		I’ve had the privilege to be awarded by <a href="https://www.cssdesignawards.com/" target="_blank">CSSDA</a> for UI Design, UX Design, and Innovation.
	</p>
	<img src="{{site.baseurl}}/assets/images/awards/best-innovation-black.jpg" alt="{{site.title}} | Innovation Awards Designer" title=" {{site.title}} {{site.description}} | Award Best Innovation">
	<img src="{{site.baseurl}}/assets/images/awards/best-ui-black.jpg" alt="{{site.title}} | UI Awards Designer" title=" {{site.title}} {{site.description}} | Award Best UI">
	<img src="{{site.baseurl}}/assets/images/awards/best-ux-black.jpg" alt="{{site.title}} | UX Awards Designer" title=" {{site.title}} {{site.description}} | Award Best UX">

</section>