<section class="w-100 about-info">
	<section class="w-100 d-flex m-auto about-info-wrap d-flex">
		<div class="w-md-50 skills-section p-basic pt-6 pb-8">
			<h2 class="title text-center mt-0" >
				{{ site.about_skills_title }}
			</h2>


			<div class="skills-wrap">
				<div class="skill active" id="design" data-group="skill">
					<img src="{{site.baseurl}}/assets/img/{{site.design_skill_img}}" class="mw-100" alt="{{site.title}} | {{site.description}}" title="{{site.title}}">
					<div class="cool-text skill-text" data-bgc="#FFEC84">
						<div class="span-wrap" data-animate>
							<span></span>
						</div>
						<p class="text paragraph">
							{{site.skill_text_01}}
						</p>
					</div>
				</div>

				<div class="skill" id="coding" data-group="skill">
					<img src="{{site.baseurl}}/assets/img/{{site.coding_skill_img}}" class="mw-100" alt="{{site.title}} | {{site.description}}" title="{{site.title}}">
					<div class="cool-text skill-text" data-bgc="#FFEC84">
						<div class="span-wrap" data-animate>
							<span></span>
						</div>
						<p class="text paragraph">
							{{site.skill_text_02}}
						</p>
					</div>
				</div>

				<a href="#design" class="badge ml-2 mr-2 active" data-group-target="skill">{{site.design}}</a>
				<a href="#coding" class="badge " data-group-target="skill">{{site.coding}}</a>
			</div>

		</div>

		<div class="w-md-50 testimonials-part p-basic pt-6 pb-8">

			<h2 class="title text-center mt-0">
				{{ site.testimonials_title }}
			</h2>
			<div class="testimonials-slider" data-slider>
				{% for t in site.data.testimonials %}
				<div class="testimonial" data-slider-unit>
					<main class="quote">
						<p class="paragraph font-weight-500 secondary-font">
							{{ t.quote }}
						</p>
					</main>
					<aside class="info d-flex">
						<div>
							<div class="bgc-image" style="background-image: url('{{site.baseurl}}/assets/img/{{t.img}}')"></div>
						</div>
						<div>
							<p class="paragraph dark">{{ t.name }}</p>
							<p class="paragraph light">{{ t.title }}</p>
						</div>
					</aside>
				</div>
				{% endfor %}

				<span class="left"></span>
				<span class="right"></span>

				<aside class="controls" data-slider-controls>
					{% for t in site.data.testimonials %}
					<span></span>
					{% endfor %}
				</aside>

			</div>

		</div>
	</section>
</section>