<section class="testimonial-section mw-480 m-auto p-basic pb-8">

	<div class="testimonial m-auto">
		<main class="quote">
			<p class="paragraph font-weight-500 secondary-font">
				{{site.process_testimonial}}
			</p>
		</main>
		<aside class="info d-flex">
			<div>
				<div class="bgc-image" style="background-image: url('{{site.baseurl}}/assets/img/{{site.process_testimonial_avatar}}')"></div>
			</div>
			<div>
				<p class="paragraph dark">{{site.process_testimonial_name}}</p>
				<p class="paragraph light">{{site.process_testimonial_title}}</p>
			</div>
		</aside>
	</div>

</section>