<section id="work" class="w-100 work-section">
	<section class="work-section-wrap mw-1080 d-flex m-auto p-basic">
	<div class="w-md-50 text-section">
		<h2 class="title">
			{{ site.work_title }}
		</h2>
		<p class="paragraph light secondary-font font-weight-500">
			{{ site.work_text }}
		</p>
	</div>
	<div class="w-md-50">

		<div class="project-wrap" data-slider>
			{% assign sorted_projects = (site.projects | sort: 'place') | reverse %}
			{% for project in sorted_projects %}
				<a href="{{site.baseurl}}{{project.url}}" class="project" data-slider-unit>
					<img src="{{site.baseurl}}/assets/img/projects/{{ project.thumbnail}}" alt="{{ project.name }} | {{ project.description }}" title="{{ project.name }}">
					<div class="cool-text project-text" data-bgc="{{ project.project_background }}">
						<div class="span-wrap" data-animate>
							<span></span>
						</div>
						<p class="text paragraph big" style="color: {{project.project_color}};">
							{{ project.name }} - {{ project.description }}
						</p>
					</div>
				</a >
			{% endfor %}



			<span class="left"></span>
			<span class="right"></span>

			<aside class="controls" data-slider-controls>
				{% assign sorted_projects = (site.projects | sort: 'place') | reverse %}
				{% for project in sorted_projects %}
				<span></span>
				{% endfor %}
			</aside>
		</div>

	</div>
</section>
</section>