<section class="work-section mw-1080 d-flex m-auto p-basic">
	<div class="w-md-50 text-section">
		<h2 class="title">
			{{ site.work_title }}
		</h2>
		<p class="paragraph dark">
			{{ site.work_text }}
		</p>
	</div>
	<div class="w-md-50">

		<div class="project-wrap" data-slider>

			<a href="#" class="project" data-slider-unit>
				<img src="{{site.baseurl}}/assets/img/project_thumb.jpg" alt="{{site.title}}" title="{{site.title}}">
				<div class="cool-text project-text" data-bgc="#FFEC84">
					<div class="span-wrap" data-animate>
						<span></span>
					</div>
					<p class="text paragraph big">
						1111. Web design and development
						for ARTIS (acrhitectural and
						structural metalwork
						company).
					</p>
				</div>
			</a >
			<a href="#" class="project" data-slider-unit>
				<img src="{{site.baseurl}}/assets/img/project_thumb.jpg" alt="{{site.title}}" title="{{site.title}}">
				<div class="cool-text project-text" data-bgc="#FFEC84">
					<div class="span-wrap" data-animate>
						<span></span>
					</div>
					<p class="text paragraph big">
						2222. Web design and development
						for ARTIS (acrhitectural and
						structural metalwork
						company).
					</p>
				</div>
			</a >
			<a href="#" class="project" data-slider-unit>
				<img src="{{site.baseurl}}/assets/img/project_thumb.jpg" alt="{{site.title}}" title="{{site.title}}">
				<div class="cool-text project-text" data-bgc="#FFEC84">
					<div class="span-wrap" data-animate>
						<span></span>
					</div>
					<p class="text paragraph big">
						3333. Web design and development
						for ARTIS (acrhitectural and
						structural metalwork
						company).
					</p>
				</div>
			</a >

			<span class="left"></span>
			<span class="right"></span>

			<aside class="controls" data-slider-controls>
				<span></span>
				<span></span>
				<span></span>
			</aside>
		</div>

	</div>
</section>
